* {
    display: flex;
    background-color: black;
}

.principal {
    padding: 50px;
    align-items: center;
    justify-content: center;
    width: 25%;
    flex-wrap: wrap;
    margin-left: 30%;
}

.principal .informacoes {
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
}

.principal .informacoes .logo {
    justify-content: center;
    width: 60px;
}

.principal .button {
    margin-top: 10px;
    justify-content: space-between;
    height: 50px;
}

.principal .informacoes .btn-introducao {
    color: white;
    border-radius: 4px;
    background: -webkit-gradient(linear, left top, left bottom, from(#f32f2f), to(#d14a4a));
    margin-top: 8px;
    width: 80px;
    height: 25px;
    margin-right: 30px;
    margin-left: 20px;
}

.principal .informacoes .btn-introducao .introducao {
    color: white;
    border: #f32f2f;
    background-color: transparent;
    margin-top: 6px;
    font-size: 0.456rem;
    height: 5px;
    margin-left: 5px;
}

.principal .informacoes .btn-contato {
    color: white;
    border-radius: 4px;
    background: -webkit-gradient(linear, left top, left bottom, from(#f32f2f), to(#d14a4a));
    margin-top: 8px;
    width: 80px;
    height: 25px;
    margin-right: 30px;
}

.principal .informacoes .btn-contato .contato {
    color: white;
    border: #f32f2f;
    background-color: transparent;
    margin-top: 6px;
    font-size: 0.456rem;
    height: 5px;
    margin-left: 17px;
}

.titulo-introducao {
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    color: white;
}

hr {
    width: 65px;
    box-shadow: 1px 1px 3px 1px #756c6c;
}

.caixa-texto {
    height: 200px;
}

.texto {
    color: white;
    flex-direction: column;
    margin-top: 2%;
    width: 400px;
    background: -webkit-gradient(linear, left top, left bottom, from(#f32f2f), to(#d14a4a));
}

p {
    background-color: transparent;
    text-align: justify;
    font-size: 0.9rem;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 15px;
}

@media (max-width:  640px) {
    .informacoes {
        display: flex;
        flex-direction: column;               
        width: 25%;     
        align-items: center;  

    }}

@media (max-width:  640px) {
        .button {
            display: flex;
            flex-direction: column;     
            justify-content: start; 
            margin-bottom: 25px;
    }}

@media (max-width:  640px) {
        .btn-contato {
            display: flex;
            flex-direction: column;     
            justify-content: start; 
            margin-left: 20px;
    }}

@media (max-width:  640px) {
        .texto {
            display: flex;
            flex-direction: column;               
            width: 100%;     
}} 
    
@media (max-width:  640px) {
    p {
        flex-direction: column;               
        align-items: center;  
        margin-right: 50%;
}} 